In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('creditcard.csv')

In [4]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67434 entries, 0 to 67433
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    67434 non-null  int64
 1   V1      67434 non-null  float64
 2   V2      67434 non-null  float64
 3   V3      67434 non-null  float64
 4   V4      67434 non-null  float64
 5   V5      67434 non-null  float64
 6   V6      67434 non-null  float64
 7   V7      67434 non-null  float64
 8   V8      67434 non-null  float64
 9   V9      67434 non-null  float64
 10  V10     67434 non-null  float64
 11  V11     67434 non-null  float64
 12  V12     67434 non-null  float64
 13  V13     67434 non-null  float64
 14  V14     67434 non-null  float64
 15  V15     67434 non-null  float64
 16  V16     67434 non-null  float64
 17  V17     67434 non-null  float64
 18  V18     67434 non-null  float64
 19  V19     67434 non-null  float64
 20  V20     67434 non-null  float64
 21  V21     67433 non-null  float64
 22  V22     67433 non-null  float64
 23  V23     67433 non-null  float64
 24  V24     67433 non-null  float64
 25  V25     67433 non-null  float64
 26  V26     67433 non-null  float64
 27  V27     67433 non-null  float64
 28  V28     67433 non-null  float64
 29  Amount  67433 non-null  float64
 30  Class   67433 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 15.9 MB

In [6]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    67264
1.0      169
Name: Class, dtype: int64

In [8]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(67264, 31)
(169, 31)

In [10]:
# statistical measures of the data
legit.Amount.describe()

count    67264.000000
mean        96.632489
std        270.008302
min          0.000000
25%          7.680000
50%         26.380000
75%         88.360000
max      19656.530000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     169.000000
mean       94.895680
std       220.959331
min         0.000000
25%         1.000000
50%         7.610000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [12]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,33987.964275,-0.224397,-0.031225,0.709220,0.156146,-0.256028,0.107483,-0.096094,0.048974,0.038459,...,0.046365,-0.030766,-0.106221,-0.038280,0.005830,0.136332,0.020505,0.001370,0.003425,96.632489
1.0,29493.242604,-7.106029,5.115846,-9.566072,5.470948,-5.263861,-2.172211,-7.412550,3.501007,-3.298551,...,0.431494,0.850670,-0.212903,-0.255225,-0.075295,0.245601,0.107931,0.576249,0.041284,94.895680

In [13]:
legit_sample = legit.sample(n=492)

In [14]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
34344,37622,1.141756,0.312076,0.059018,1.091915,0.082302,-0.575561,0.401762,-0.199828,-0.249737,...,0.028611,0.113006,-0.106819,0.086047,0.666418,-0.334093,0.017625,0.021251,41.43,0.0
63488,50738,0.134230,-1.563840,-0.466219,1.543372,-0.528855,0.057617,0.742868,-0.135197,0.061989,...,0.398943,-0.081707,-0.630585,-0.413562,0.434943,-0.277576,-0.077364,0.110274,569.00,0.0
54000,46247,0.830788,-0.359810,1.589701,2.882987,-0.639243,1.865738,-0.923111,0.742765,0.580848,...,-0.173791,-0.230540,0.040835,-0.300599,0.181489,-0.020803,0.072527,0.024515,65.22,0.0
22743,32410,0.453889,-0.593772,-0.992512,-3.223955,1.022347,3.661130,-2.344529,-1.829875,-2.364655,...,-1.528485,-0.212184,0.050339,0.954884,0.845327,-0.313523,0.024065,0.140232,10.00,0.0
36715,38657,0.938707,-0.073768,1.262434,2.711881,-0.694834,0.406251,-0.391960,0.136842,0.061780,...,-0.038799,-0.186149,-0.100430,0.043335,0.318809,-0.034418,0.024230,0.052159,110.33,0.0

In [16]:
new_dataset['Class'].value_counts()

0.0    492
1.0    169
Name: Class, dtype: int64

In [17]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,34041.349593,-0.181951,0.045215,0.741009,0.218659,-0.207039,0.104469,-0.087787,0.028534,0.036101,...,0.052387,0.018976,-0.088715,-0.022758,0.029362,0.122287,0.054165,0.000853,0.004280,84.672927
1.0,29493.242604,-7.106029,5.115846,-9.566072,5.470948,-5.263861,-2.172211,-7.412550,3.501007,-3.298551,...,0.431494,0.850670,-0.212903,-0.255225,-0.075295,0.245601,0.107931,0.576249,0.041284,94.895680

In [18]:
# Splitting the data into Features and Target
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [19]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
34344,37622,1.141756,0.312076,0.059018,1.091915,0.082302,-0.575561,0.401762,-0.199828,-0.249737,...,-0.060040,0.028611,0.113006,-0.106819,0.086047,0.666418,-0.334093,0.017625,0.021251,41.43
63488,50738,0.134230,-1.563840,-0.466219,1.543372,-0.528855,0.057617,0.742868,-0.135197,0.061989,...,0.945239,0.398943,-0.081707,-0.630585,-0.413562,0.434943,-0.277576,-0.077364,0.110274,569.00
54000,46247,0.830788,-0.359810,1.589701,2.882987,-0.639243,1.865738,-0.923111,0.742765,0.580848,...,-0.179643,-0.173791,-0.230540,0.040835,-0.300599,0.181489,-0.020803,0.072527,0.024515,65.22
22743,32410,0.453889,-0.593772,-0.992512,-3.223955,1.022347,3.661130,-2.344529,-1.829875,-2.364655,...,0.348539,-1.528485,-0.212184,0.050339,0.954884,0.845327,-0.313523,0.024065,0.140232,10.00
36715,38657,0.938707,-0.073768,1.262434,2.711881,-0.694834,0.406251,-0.391960,0.136842,0.061780,...,0.098018,-0.038799,-0.186149,-0.100430,0.043335,0.318809,-0.034418,0.024230,0.052159,110.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63421,50706,-8.461845,6.866198,-11.838269,4.194211,-6.923097,-3.221147,-7.553497,6.015618,-2.466143,...,0.814710,0.918244,-0.715366,0.210747,-0.060211,0.509535,-0.257284,1.170027,0.229301,99.99
63634,50808,-9.169790,7.092197,-12.354037,4.243069,-7.176438,-3.386618,-8.058012,6.442909,-2.412987,...,0.816652,0.926157,-0.817706,-0.150434,-0.039383,0.485640,-0.264325,1.159690,0.232758,99.99
64329,51112,-9.848776,7.365546,-12.898538,4.273323,-7.611991,-3.427045,-8.350808,6.863604,-2.387567,...,0.832398,0.931958,-0.874467,-0.192639,-0.035426,0.538665,-0.263934,1.134095,0.225973,99.99
64411,51135,-10.527304,7.639745,-13.443115,4.303403,-8.048210,-3.466997,-8.643193,7.284105,-2.362097,...,0.847085,0.937416,-0.931178,-0.235697,-0.031393,0.591558,-0.263516,1.108897,0.219021,99.99
64460,51155,-11.205461,7.914633,-13.987752,4.333341,-8.484970,-3.506561,-8.935243,7.704449,-2.336584,...,0.860912,0.942593,-0.987848,-0.279446,-0.027299,0.644344,-0.263078,1.084023,0.211933,99.99

In [20]:
Y

34344    0.0
63488    0.0
54000    0.0
22743    0.0
36715    0.0
        ...
63421    1.0
63634    1.0
64329    1.0
64411    1.0
64460    1.0
Name: Class, Length: 661, dtype: float64

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(661, 30) (528, 30) (133, 30)

In [23]:
# Model building using logistic regression
model = LogisticRegression()

In [24]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

In [25]:
# Model evaluation
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [26]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9696969696969697

In [27]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [28]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9548872180451128